:root {
    --accent: #B2D6D0;
    --second: #F5F650;
    --third: #f5f0e3;
    --fourth: #2e2e2e;
    --title: 'ivyjournal', sans-serif;
    --copy: 'Karla', sans-serif;
    --default-shadow: rgba(149, 146, 180, 0.25);
}

body {
    background: var(--accent);
    font-family: var(--copy);
    color: var(--fourth);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--title);
}

h1 {
    font-size: 4.5em;
}

main {
    flex: 1;
}

header {
    display: flex;
    justify-content: space-between;
}

a {
    text-decoration: none;
    color: var(--fourth);
    font-weight: 600;
}

.nav {
    display: none;
}

ul.nav {
    list-style-type: none;
}

footer {
    background: var(--third);
}

button {
    font-size: 1.25em;
    font-weight: 600;
}

button, a:hover {
    text-decoration: underline 5px var(--second);
    cursor: pointer;
}

.overlay{
    margin-left: -150px;
    width: 90%;
}

@media screen and (min-width: 900px) {
    header, .container {
        width: 80%;
        margin: 0 auto;
    }

    header {
        margin-top: 50px;
    }

    .nav {
        display: flex;
        align-items: center;
    }

    .nav li {
        margin-left: 40px;
    }

    .hamburger {
        display: none;
    }

    footer {
        height: 25vh;
        display: flex;
        align-items: center;
    }

    footer .container {
        display: flex;
        justify-content: space-between;
    }

    .hero {
        display: flex;
        padding-top: 80px;
    }

    .hero img {
        width: 52%;
        margin-right: 80px;
    }
}