:root {
    --accent: #B2D6D0;
    --second: #F5F650;
    --third: #f5f0e3;
    --fourth: #2e2e2e;
    --title: 'ivyjournal', sans-serif;
    --copy: 'Karla', sans-serif;
    --default-shadow: rgba(149, 186, 180, 0.45);
}



/* --------------
     General 
----------------- */

body {
    background: var(--accent);
    font-family: var(--copy);
    color: var(--fourth);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex: 1;
}

header, .container {
    width: 80%;
    margin: 0 auto;
}

footer {
    background: var(--third);
}

a {
    text-decoration: none;
    color: var(--fourth);
    font-weight: 600;
}

button {
    font-size: 1.25em;
    font-weight: 600;
}

button, a:hover {
    text-decoration: underline 5px var(--second);
    cursor: pointer;
}

svg {
    fill: var(--fourth);
}



/* ---------------
     Typography 
------------------ */

h1, h2, h3, h4, h5, h6 {
    font-family: var(--title);
}

h3.member-name {
    font-family: var(--copy);
}

h4.member-title {
    font-family: var(--copy);
    font-weight: 400;
}

.overlay{
    margin-left: -150px;
    width: 90%;
}

@media screen and (min-width: 900px) {
    h1 {
        font-size: 4.5em;
    }

    h2 {
        font-size: 2em;
    }
}



/* -------------
     Header 
---------------- */

header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 30px;
    align-items: center;
}

ul.nav {
    list-style-type: none;
    text-align: center;
}

ul.nav > * {
    margin: 10px 0;
}

@media screen and (min-width: 900px) {

    header {
        margin-top: 50px;
        flex-direction: row;
        justify-content: space-between;
        align-items: inherit;
    }

    .nav {
        display: flex;
        align-items: center;
    }

    .nav li {
        margin-left: 40px;
    }
}



/* -----------
     Hero
-------------- */

.hero img {
    width: 100%;
    margin: 30px 0 10px;
}

.hero {
    min-height: 100vh;
}

@media screen and (min-width: 900px) {

    .hero {
        background-image: url('../images/hero-bg.png');
        background-size: contain;
        background-repeat: no-repeat;
        padding-top: 80px;
    }

    .hero .container {
        display: flex;
        align-items: center;
    }

    .hero img {
        width: 52%;
        margin-right: 80px;
    }
}



/* -----------
     About
-------------- */

#about {
    display: flex;
    flex-direction: column-reverse;
}

@media screen and (max-width: 1454px) {
    .about-small {
        display: none !important;
    }
}

.about-text {
    width: 80%;
    margin: 20px auto;
}

@media screen and (min-width: 900px) {

    #about {
        display: flex;
        flex-direction: row;
        height: 100vh;
        margin-top: 50px;
        background-image: url('../images/about-bg.png');
        background-size: contain;
        background-repeat: no-repeat;
    }

    .about-small {
        display: block;
        align-self: flex-end;
        width: 342px;
        height: 500px;
    }

    .about-big {
        width: 650px;
        height: 669px;
    }

    .about-text {
        align-self: center;
        width: 30%;
        margin: 0 auto;
    }
}


/* -------------
      Team 
---------------- */

#team .member-container {
    display: flex;
    flex-wrap: wrap;
    margin-top: 50px;
}

.member {
    width: 50%;
}

.member-hover {
    display: block;
    padding: 10px 20px;
    background: var(--second);
}

.team-text {
    width: 80%;
    margin: 30px auto;
}

.member img {
    width: 100%;
}

@media screen and (min-width: 700px) {
    .member {
        width: 25%;
    }
}

@media screen and (min-width: 900px) {

    #team {
        display: flex;
        min-height: 100vh;
        align-items: center;
        background-image: url('../images/team-bg.png');
        background-size: contain;
        background-repeat: no-repeat;
    }

    #team .member-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-end;
        width: 65%;
    }

    .member {
        justify-content: flex-end;
        position: relative;
    }

    .member:hover .member-hover {
        display: block;
        bottom: 0;
        position: absolute;
        padding: 20px 30px;
        background: var(--second);
    }

    .member-hover {
        display: none;
    }

    .member img {
        height: 100%;
    }

    .team-text {
        width: 20%;
        padding: 75px;
    }
}


/* ---------------
     Industries 
------------------ */

#industries {
    margin: 70px 0;
}

.industries-box {
    padding: 30px;
    display: flex;
    flex-direction: column;
}

.industries-box svg {
    align-self: flex-end;
}

.industries-box:first-child {
    background: var(--second);
}

.industries-box:nth-child(3) {
    background: var(--third);
}

.industries-box:nth-child(5) {
    background: var(--fourth);
    color: var(--third);
}

@media screen and (min-width: 900px) {

    #industries {
        min-height: 100vh;
        display: flex;
        align-items: center;
    }

    #industries .container {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
    }

    .industries-box {
        width: 33.333%;
        min-height: 250px;
        padding: 40px;
        display: flex;
        flex-direction: column;
        box-sizing: border-box;
    }

    .industries-box svg {
        align-self: flex-end;
        display: none;
    }

    .industries-box:hover svg {
        display: block;
    }
}


/* -------------
     Insights
---------------- */

.blog-side > * {
    margin-bottom: 40px;
}

article.first {
    background-image: url('../images/blog-1.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 198.95px;
    position: relative;
    margin-bottom: 175px;
}

.article-text.first {
    bottom: -140px;
    position: absolute;
}

.blog-side img {
    width: 100%;
}

@media screen and (min-width: 900px) {

    #insights {
        display: flex;
        min-height: 100vh;
        align-items: center;
        background-image: url('../images/insights-bg.png');
        background-size: contain;
        background-repeat: no-repeat;
    }

    .blog-side > * {
        display: flex;
    }

    .blog-side img {
        margin-right: 40px;
        width: 45%;
        object-fit: cover;
    }

    article.first {
        position: relative;
        background-image: url('../images/blog-1.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        height: 457.68px;
        margin-bottom: 50px;
    }

    .article-text.first {
        position: absolute;
        bottom: 0;
        background: var(--second);
        width: 75%;
        padding: 30px;
    }

    .article-text.first button {
        display: none;
    }
}

@media screen and (min-width: 1200px) {
    #insights .container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    #insights .container > * {
        width: 48%;
    }

    #insights .container > article img {
        width: 100%;
        margin-bottom: 30px;
    }
}


/* -------------
     Footer 
---------------- */

footer .container {
    display: flex;
    flex-direction: column;
    padding: 30px 0;
    align-items: center;
}

footer img {
    width: 25%;
}

footer .container > * {
    margin: 10px 0;
}

@media screen and (min-width: 900px) {

    footer {
        height: 25vh;
        display: flex;
        align-items: center;
    }

    footer .container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    footer img {
        width: 63px;
    }
}